.home-descr-link_anim{

	padding: 17px 50px;
	border-radius: 7px;
	background-color: $maincolor;
	/*  opacity:.7;*/
	position: relative;
	z-index:2;
	color: #FFF;
	&:hover,&:focus{
		background-color: lighten( $maincolor,15%);
		 transition:all 1s;

		
	}
	
}
.wrap_animation{
	text-align: center;
	background-color: red;
	padding: 30px 0;

}
