@charset "UTF-8";
/*@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}*/
/**/
/*rgb(0, 102, 102);*/
/*$colorNav:rgba(179, 255, 218, .7);*/
/*rgba(0, 102, 102, .5);*/
/*rgba(121, 134, 134, .6);*/
/*#ff6600;*/
/*оранжевый*/
/*#ff6600;*/
/*оранжевый, скрытая кнопка*/
/*rgb(0, 153, 153);*/
/*бледный синий*/
/*Color 1: #F0F2F0

Color 2: #000C40 градиент*/
/*градиент для body светло-бирюзовый*/
/*темно-синий*/
/* самый светло -голубой*/
/*цвет тиффани*/
/*темно синий*/
/*яркий синий*/
/*сине-фиолетовый*/
.mainBody {
  /*	background: linear-gradient(to bottom, $color3 80%, $color4 );*/ }

body, html, td {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  font-size: 16px;
  /* font-size: 62,5%;*/ }

/*

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
p{
  @include font-size(1.8);
}*/
.wrapNav {
  position: relative;
  width: 100%;
  /*padding:30px;*/
  /*background-color: $color1;*/
  margin-bottom: -30px;
  top: 0;
  left: 0; }

.main-nav {
  background-color: rgba(0, 87, 128, 0.7);
  /*padding: 20px;*/
  position: absolute;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  width: 100%;
  top: -120px;
  left: 0;
  z-index: 10;
  padding: 0 20px 10px; }

.top {
  padding-top: 120px;
  background-color: RGB(49, 237, 225); }

.ul-main {
  padding: 0;
  margin: 0; }

.main-li {
  width: 100%;
  display: block;
  padding: 7px 20px;
  margin-top: 10px;
  text-align: center;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  background-color: #9999ff;
  list-style-type: none; }
  .main-li:hover {
    /*background-color: lighten(blue,20%);*/
    background-color: #6666ff; }

.change {
  color: #fff;
  /*font-size: 30px;*/
  font-size: 30px;
  font-size: 1.875rem;
  text-align: center;
  line-height: 0.3;
  text-transform: uppercase; }
  .change:hover {
    cursor: pointer; }

.main-li {
  width: 100%;
  /*display: block;*/
  display: none;
  padding: 8px 20px;
  margin-top: 10px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  background-color: #9999ff;
  list-style-type: none; }
  .main-li:hover {
    /*background-color: lighten(blue,20%);*/
    background-color: #6666ff; }

.nn {
  display: none; }

.active {
  background-color: #6666ff; }

.main-a {
  padding: 20px 8px;
  color: white;
  font-size: 24px; }

.cross {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 0;
  /* right: -50%;*/
  right: 0;
  background-color: white;
  /*background-color: $crossBg;*/
  /*display: none;*/
  /*&:hover{
		background-color:lighten($crossBg,10%);
		cursor: pointer;
	}*/ }

.menu.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 2px;
  background-color: rgba(0, 87, 128, 0.7);
  position: absolute;
  top: 9px;
  left: 9px; }

.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: rgba(0, 87, 128, 0.7); }

.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: rgba(0, 87, 128, 0.7); }

@media only screen and (max-width: 500px) {
  /*.main-nav{
		display: none;
	}
	.cross{
		display: block;
		top:100px;
		left: 45%;
	}*/
  .main-a {
    /*font-size: 18px;*/
    font-size: 18px;
    font-size: 1.125rem; } }

.home {
  width: 100%;
  max-height: 255px;
  padding: 40px 0 60px;
  background: url("../img/main-image2-min.jpg") no-repeat center;
  background-size: cover;
  text-align: center; }

.title-home {
  /*font-size: 4rem;*/
  font-size: 48px;
  font-size: 3rem;
  color: white;
  background-color: rgba(255, 102, 0, 0.6);
  /*margin-right: 150px;*/
  margin-top: 40px;
  -webkit-border-radius: 7px;
          border-radius: 7px; }

.logo-home {
  display: inline-block; }

.a-logo-home {
  display: inline-block; }

a {
  display: inline-block; }

.for_logo {
  width: 80px;
  height: auto; }

.for_logo_tel {
  padding: 10px 0;
  text-align: center;
  background-color: RGB(49, 237, 225); }

.wrap-logo-home {
  /*text-align: right;*/ }

.name {
  display: block;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white; }

.wrap-span {
  /*margin-top:20px;*/ }

.top-logo {
  float: left; }

.top-tel {
  display: block;
  font-size: 16px; }

.number-tel {
  display: block;
  font-size: 24px;
  font-size: 1.5rem; }

.blue {
  color: #006999; }

.logo, .tel, .addr {
  margin-bottom: 20px; }

.mark {
  font-size: 28px; }

.hideButton {
  margin-top: 20px;
  padding: 10px 10px;
  background-color: rgba(255, 102, 0, 0.6);
  -webkit-border-radius: 7px;
          border-radius: 7px;
  opacity: .1; }
  .hideButton:hover {
    opacity: .9; }

.add {
  width: 100%;
  height: 100px;
  background: url("../img/nizVolna.png") no-repeat center;
  background-size: cover;
  margin-top: -50px; }

.mainAddr {
  color: #006999; }

@media screen and (max-width: 980px) {
  .wrap-logo-home {
    text-align: center; } }

@media screen and (max-width: 800px) {
  .top-logo {
    float: none; } }

/*@media screen and (max-width: 985px){
.for_logo_tel{
	text-align: left;
}
.addr{
	margin-top: -50px;
}

}

@media screen and (max-width: 769px){
	.addr{
	margin-top:10px;
}
.for_logo_tel{
	text-align: center;
}


}*/
/* start second menu*/
#cssmenu {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left; }

#cssmenu > ul {
  width: 80%;
  list-style-type: none;
  padding: 30px 0;
  margin: 0;
  background: #e1eaf1;
  border: 1px solid #ece6e8;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  /* закругление углов для всех, кто понимает */
  margin: 0 auto;
  padding: 0; }

#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */ }

#cssmenu > ul li {
  display: inline-block;
  margin-left: 50px; }

#cssmenu > ul li.right {
  float: right; }

#cssmenu > ul li.has-sub {
  position: relative; }

#cssmenu > ul li.has-sub:hover ul {
  display: block; }

#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #cedeea;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
  z-index: 10; }

#cssmenu > ul li.has-sub ul li {
  display: block; }

#cssmenu > ul li.has-sub > a {
  background-image: url("images/caret.png");
  background-repeat: no-repeat;
  background-position: 90% -95%; }

#cssmenu > ul li.has-sub > a.activeSec,
#cssmenu > ul li.has-sub > a:hover {
  background: #cedeea url("images/caret.png") no-repeat;
  background-position: 90% 195%; }

#cssmenu > ul li a {
  display: inline-block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #075998; }

#cssmenu > ul li a.activeSec,
#cssmenu > ul li a:hover {
  background: #aac8df;
  color: #fff; }

@media screen and (max-width: 960px) {
  #cssmenu > ul li {
    display: block;
    margin-left: 28%; } }

@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%; }
  #cssmenu > ul li#responsive-tab {
    display: block; } }

.wrap_for_secondMenu {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  text-align: center; }

/* finish second menu*/
.innerDescription {
  /*padding-left:50%;*/
  padding-top: 20px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  margin-left: -30px;
  text-align: center; }

.wrapForinnerFoto {
  text-align: center;
  border: 1px solid SkyBlue;
  padding: 0;
  margin-bottom: 20px; }
  .wrapForinnerFoto:hover {
    background-color: #E0FFFF; }

.wrapForinnerFotoRecommend {
  text-align: center;
  border: 1px solid SkyBlue;
  padding: 0;
  margin-bottom: 20px;
  float: left; }
  .wrapForinnerFotoRecommend:hover {
    background-color: #E0FFFF; }

.fotoMain {
  width: 100%;
  text-align: center; }

.innerFoto {
  display: inline-block;
  /*width: 100%;
	
	height: auto;*/ }

.innerFotoAside {
  text-align: center; }

mark {
  background-color: #ADD8E6; }

.second {
  width: 100%;
  text-decoration: none; }
  .second:hover {
    text-decoration: none; }

/*.wrapForinnerFoto{
	width: 100%;
	height: 200px;
	background: url('../img/konstantin.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}*/
li {
  list-style-type: none;
  text-decoration: none; }

.mainDescr {
  text-align: center;
  font-size: 34px; }

.underDescr {
  text-align: center;
  display: inline-block;
  background-color: #086897;
  color: #fff;
  width: 80%; }

.descr {
  border: 1px solid #086897; }

.aboutShip {
  margin-bottom: 10px; }

.discout {
  width: 100%;
  border: 1px solid #086897;
  padding: 10px 20px;
  margin-bottom: 3px;
  display: none; }

a {
  display: inline-block;
  text-decoration: none; }

.mask {
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);*/
  /*width: 100%;*/ }

.maskNone {
  display: block;
  text-align: left;
  margin-bottom: 20px; }

.recomendation {
  margin-left: -30px; }

.sub-menu-buttonClean {
  width: 100%;
  border: 1px solid lightblue;
  margin-bottom: 30px;
  padding: 20px 20px; }
  .sub-menu-buttonClean:hover {
    background-color: #E0FFFF; }

/*.item-reccomend{
	margin-bottom: 5px;
}*/
.for_logo_tel-foot {
  background-color: aquamarine; }

@media only screen and (min-width: 960px) {
  .mask {
    float: left; } }

@media only screen and (max-width: 450px) {
  .innerFoto {
    display: inline-block;
    width: 100%; } }

/*@media only screen and (max-width:960px){
	.wrapForinnerFotoRecommend{
		float:none;

	}
	.maskNone{
		width:50%;
		float:left;
		text-align:center; 
	}
	

}*/
table {
  width: 100%;
  border-collapse: collapse; }

/* Черно-белые полоски */
tr:nth-of-type(odd) {
  background-color: #cbe2ed; }

tr:nth-of-type(even) {
  background-color: #cbe2ed; }

th {
  background-color: #086897;
  color: white;
  font-weight: bold; }

td, th {
  padding: 6px;
  border: 1px solid #fff;
  text-align: center; }

.app {
  background-color: RGB(49, 237, 225); }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Заставьте таблицу больше не вести себя как таблица */
  table, thead, tbody, th, td, tr {
    display: block; }
  .app {
    background-color: RGB(49, 237, 225); }
  /* Скройте заголовки таблицы (но в целях доступности не с display: none;) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  tr {
    border: 1px solid #fff; }
  td {
    /* Поведение как у «строки» */
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    padding-left: 50%; }
  td:before {
    /* Теперь как у заголовка таблицы */
    position: absolute;
    /* Значения top/left имитируют отступ */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px; }
  /*

Пометьте данные

*/
  td:nth-of-type(1):before {
    content: "Без посредников";
    word-wrap: break-word;
    text-transform: uppercase;
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 12px;
    font-size: 12px; }
  td:nth-of-type(2):before {
    content: "май";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  td:nth-of-type(3):before {
    content: "с 19.05";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  td:nth-of-type(4):before {
    content: "июнь";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  td:nth-of-type(5):before {
    content: "с 09.06 по 01.07";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  td:nth-of-type(6):before {
    content: "июль";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  td:nth-of-type(7):before {
    content: "август";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  td:nth-of-type(8):before {
    content: "сентябрь";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  td:nth-of-type(9):before {
    content: "c 11.09";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  td:nth-of-type(10):before {
    content: "октябрь";
    background-color: #086897;
    color: #fff;
    height: 53px;
    top: 2px;
    left: -3px;
    padding-left: 20px;
    padding-top: 15px; }
  tr:nth-of-type(even) {
    background-color: #cbe2ed; }
  tr:nth-of-type(odd) {
    background-color: #cbe2ed; } }

/*button start*/
.for_button {
  text-align: center; }

.sub-menu-button {
  padding: 2px 10px;
  line-height: 36px;
  background: #57beff;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, RGB(49, 237, 225)), to(#003399));
  background: -webkit-linear-gradient(top, RGB(49, 237, 225) 0, #003399 100%);
  background: linear-gradient(to bottom, RGB(49, 237, 225) 0, #003399 100%);
  text-align: center;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block; }
  .sub-menu-button:hover {
    color: #e6f7ff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, RGB(49, 237, 225)), to(#003399));
    background: -webkit-linear-gradient(bottom, RGB(49, 237, 225) 0, #003399 100%);
    background: linear-gradient(to top, RGB(49, 237, 225) 0, #003399 100%);
    text-decoration: none; }

.addColor1 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #6600ff), to(#003399));
  background: -webkit-linear-gradient(top, #6600ff 20%, #003399 100%);
  background: linear-gradient(to bottom, #6600ff 20%, #003399 100%); }
  .addColor1:hover {
    color: #e6f7ff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #6600ff), to(#003399));
    background: -webkit-linear-gradient(bottom, #6600ff 20%, #003399 100%);
    background: linear-gradient(to top, #6600ff 20%, #003399 100%);
    text-decoration: none; }

.addColor2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, aquamarine), to(blue));
  background: -webkit-linear-gradient(top, aquamarine 20%, blue 100%);
  background: linear-gradient(to bottom, aquamarine 20%, blue 100%); }
  .addColor2:hover {
    color: #e6f7ff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, aquamarine), to(blue));
    background: -webkit-linear-gradient(bottom, aquamarine 20%, blue 100%);
    background: linear-gradient(to top, aquamarine 20%, blue 100%);
    text-decoration: none; }

.addColor3 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #cce2ff), to(#003399));
  background: -webkit-linear-gradient(top, #cce2ff 20%, #003399 100%);
  background: linear-gradient(to bottom, #cce2ff 20%, #003399 100%); }
  .addColor3:hover {
    color: #e6f7ff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #cce2ff), to(#003399));
    background: -webkit-linear-gradient(bottom, #cce2ff 20%, #003399 100%);
    background: linear-gradient(to top, #cce2ff 20%, #003399 100%);
    text-decoration: none; }

/*button finish*/
.foot-a {
  padding: 10px;
  background-color: #006999;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  color: #e6f7ff; }
  .foot-a:hover {
    background-color: white; }

.footer1 {
  padding: 30px;
  /*background-color: $colorTiff;*/
  background: -webkit-gradient(linear, left top, left bottom, from(RGB(49, 237, 225)), to(#006999));
  background: -webkit-linear-gradient(top, RGB(49, 237, 225), #006999);
  background: linear-gradient(to bottom, RGB(49, 237, 225), #006999);
  text-align: center; }

.footer2 {
  padding: 30px;
  /*background-color: $colorTiff;*/
  background: url("../img/bg-bottom.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  color: white; }

.footer2 .name {
  color: #006999; }

.foot2-a {
  background-color: #006999;
  padding: 10px;
  background-color: #006999;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  color: #e6f7ff; }
  .foot2-a:hover {
    color: white; }

.blue1 {
  color: white; }

/*@media screen and (max-width: 500px){
.footer2{
display: none;
}
}
@media screen and (min-width: 500px){
.footer1{
display: none;
}
}*/
