.mainBody{
	
/*	background: linear-gradient(to bottom, $color3 80%, $color4 );*/
}
body, html, td {
	padding:0px;
	 margin:0px;
	 font-family: Arial, Tahoma, Verdana, sans-serif;
	  font-size: 18px;
	 /* font-size: 62,5%;*/
}
/*

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
p{
  @include font-size(1.8);
}*/