.home{
	width: 100%;
	padding:40px 0 60px;
	background: url('../img/main-image.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}
.title-home{
	font-size: 4rem;
	color: $colorMainA;
	
background-color:$colorCross;
/*margin-right: 150px;*/
margin-top: 40px;

}
.logo-home{
	display: inline-block;
	/*margin-left: 300px;*/

}
.a-logo-home{
	display: inline-block;
	
}
a{
	display: inline-block;
}
.for_logo{
	width: 100px;
	height: auto;
}
.wrap-logo-home{
	text-align: right;
}
.name{
	display: block;
	padding-top: 20px;
	font-size: 24px;
	text-transform:uppercase;
}
.wrap-span{
	/*margin-top:20px;*/
}
.top-logo{
float: left;
}
