.innerDescription{
	/*padding-left:50%;*/
	padding-top:20px;
	padding-bottom: 20px;
	border-radius:7px;
	margin-left:-30px;
	text-align: center;
	
	
}
.wrapForinnerFoto {
    text-align: center;
}
.fotoMain{
	width: 100%;
	
}
.innerFoto{
	display: inline-block;
	/*width: 100%;*/
	width: 178px;
	height: auto;
	
}
/*.wrapForinnerFoto{
	width: 100%;
	height: 200px;
	background: url('../img/konstantin.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}*/
li{
	list-style-type: none;
}
.mainDescr{
	text-align: center;
	font-size: 34px;
}
.mask{
  
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.for_logo_tel-foot{
	background-color: $colorTiff4;
}
