.innerDescription{
	/*padding-left:50%;*/
	padding-top:20px;
	
	border-radius:7px;
	margin-left:-30px;
	text-align: center;
	
	
}
.wrapForinnerFoto {
    text-align: center;
    border: 1px solid SkyBlue;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    box-shadow: 0 0 0 3px white inset, 0 0 0 4px #ADD8E6 inset;
    &:hover{
		background-color:#E0FFFF;
	}
}
.wrapForinnerFotoRecommend{
	
    text-align: center;
    border: 1px solid SkyBlue;
    padding: 0;
    margin-bottom: 20px;
    float:left;
    &:hover{
		background-color:#E0FFFF;
	}
}

.fotoMain{
	width: 100%;
	text-align: center;
	
}
.innerFoto{
	display: inline-block;
	/*width: 100%;
	
	height: auto;*/
	
}
.innerFotoAside {
	text-align: center;
}
mark{
	background-color:#ADD8E6;
}

.second{
	width: 100%;
	/*text-decoration: none;*/
	&:hover{
		text-decoration: none;
	}
}
.sec{
	background-color: #4ebb40;
}
/*.wrapForinnerFoto{
	width: 100%;
	height: 200px;
	background: url('../img/konstantin.jpg')no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}*/
li{
	list-style-type: none;
	text-decoration: none;
}
.mainDescr{
	text-align: center;
	font-size: 34px;
}
.underDescr{
	text-align: center;
	display: inline-block;
	background-color:#086897;
	color: #fff;
	width: 80%;
	
	
}
.descr{
	border:1px solid #086897;
}
.aboutShip{
	margin-bottom:10px;
	
}

.discout{
	width: 100%;
	border:1px solid #086897;
	padding: 10px 20px;
	margin-bottom: 3px;
	display: none;
}
a{
	display: inline-block;
	text-decoration: none;
}
.mask{
  
 /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);*/
 /*width: 100%;*/
}
.maskNone {
	display: block;
    text-align: left;
    margin-bottom: 20px;
}
.recomendation{
	margin-left: -30px;
}
.sub-menu-buttonClean{
	width: 100%;
	border: 1px solid lightblue;
	margin-bottom:30px;
	padding: 20px 20px;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
	&:hover{
		background-color:#E0FFFF;
		/*text-decoration: none;*/
	}
}
.sub-menu-buttonGreen{
	width: 80%;
	padding:2px 10px;
    line-height: 36px;
    background-color: #4ebb40;
    margin-bottom: 20px;
    /*background: linear-gradient(to bottom,$colorTiff 0,$colordarkBlue 100%);*/
    text-align: center;
    color: #fff;
    text-decoration: none;
    /*border-radius: 8px;*/
    cursor: pointer;
    text-decoration:none;
    display: inline-block;
	}


.for_logo_tel-foot{
	background-color: $colorTiff4;
}
@media only screen and (min-width:960px){
	.mask{
		float:left;
	}


}

@media only screen and (max-width:450px){
	.innerFoto {
    display: inline-block;
    width: 100%;
}

}

@media only screen and (max-width:330px){
	.innerDescription{
    height:205px;
    
}
.sub-menu-buttonClean{
	height:108px;
}

}
