#Container .mix{
    display: none;
}
.mixitup_forbuty{
padding:70px 0;
min-height: 500px;
}
.mixitup_forbuty__title{
text-align:center;
}
.filter{
display: inline-block;
text-align: center;
list-style-type: none;
cursor: pointer;
margin-right: 20px;
}
.filter-active{
	border-bottom:1px solid $maincolor;
}
.ulforbeauty{
	
	text-align: center;
	    margin-bottom: 70px;

}
.map{
height:100px;
background-color:green;
}
.padding{
	padding: 10px;
	&:hover{
		background-color:red;

	}

}
/*.for_img{
	width: 400px;
	height: 300px;
background: url("../img/beauty_img1/make_up1.jpg")no-repeat;

}*/

@media only screen and (max-width:760px){
	.padding{
		
		margin-left: 30%;
	}
}
@media only screen and (max-width:470px){
	.padding{
		
		margin-left: 3%;
	}
}

