/*body{
	background-color: green;
}*/
$accentcolor:#9966ff;
$redcolor:#cc6699;
/*$maincolor:#ea2cd4;*/
/*$maincolor:orange;*/
$maincolor:#ff3300;
$greencolor:lime;
$color:red;
$blue-green-color:rgba(0, 68, 102, 0.7);
