.add_cats{
	padding-top:35px;
	position: relative;
	width: 100%;
	height: 100px;
	transform: skewX(20deg);
	background: url('../img_cat/line.png');
	&:before{
		content:"";
		position: absolute;
		width:100%;
		height: 100px;
		top:0;
		left: 0;
		background-color: $blue-green-color;

}
}
.foot-cont{
	transform: skewX(-20deg);
}