$color1:white;
$colorLiA:rgb(153, 153, 255);/*rgb(0, 102, 102);*/
$colorMainA:white;
 /*$colorNav:rgba(179, 255, 218, .7);*/
 $colorNav:rgba(0, 102, 102, .5);/*rgba(121, 134, 134, .6);*/
 $colorCross:#ff6600;
 $crossBg:rgb(255, 163, 102);
 $colorNavActive:#6666ff;/*rgb(0, 153, 153);*/